USE [master]
GO
/****** Object:  Database [DAKIstore]    Script Date: 5/9/2023 6:16:34 AM ******/
CREATE DATABASE [DAKIstore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DAKIstore1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DAKIstore1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DAKIstore1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DAKIstore1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DAKIstore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DAKIstore]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 5/9/2023 6:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[ID_Account] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Age] [int] NULL,
	[Sex] [nvarchar](100) NULL,
	[Year_Of_Birth] [int] NULL,
	[Username] [nvarchar](500) NOT NULL,
	[Password] [nvarchar](500) NOT NULL,
	[ID_Info] [bigint] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[ID_Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 5/9/2023 6:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[Admin_Information] [nvarchar](50) NOT NULL,
	[AdminID] [bigint] NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[Admin_Information] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 5/9/2023 6:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[ID_Author] [bigint] NOT NULL,
	[Name_Of_Author] [nvarchar](550) NULL,
	[Address_Of_Author] [nvarchar](50) NULL,
 CONSTRAINT [PK_Author] PRIMARY KEY CLUSTERED 
(
	[ID_Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 5/9/2023 6:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[ID_Blog] [bigint] NULL,
	[TT_Blog] [nchar](10) NULL,
	[id] [numeric](19, 0) NOT NULL,
	[content] [varchar](255) NULL,
	[createdDate] [datetime] NULL,
	[title] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 5/9/2023 6:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[ID_Book] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](1500) NULL,
	[Describe] [nvarchar](max) NULL,
	[Quantity] [int] NULL,
	[AuthorID] [bigint] NULL,
	[ID_Category] [bigint] NULL,
	[Price] [bigint] NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[ID_Book] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book_Detail]    Script Date: 5/9/2023 6:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book_Detail](
	[ID_Detail] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_Book] [bigint] NULL,
	[Publishing_House] [nvarchar](200) NULL,
	[Size] [nvarchar](100) NULL,
	[Pages] [int] NULL,
	[Book_Cover] [nvarchar](100) NULL,
	[Publishing_Year] [int] NULL,
 CONSTRAINT [PK_Book_Detail] PRIMARY KEY CLUSTERED 
(
	[ID_Detail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 5/9/2023 6:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_Account] [bigint] NOT NULL,
	[totalPrices] [bigint] NULL,
	[totalItems] [bigint] NULL,
 CONSTRAINT [PK_Cart_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItem]    Script Date: 5/9/2023 6:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItem](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_Book] [bigint] NOT NULL,
	[Quantity] [int] NOT NULL,
	[id_Cart] [bigint] NOT NULL,
	[totalPrice] [bigint] NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 5/9/2023 6:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID_Category] [bigint] IDENTITY(1,1) NOT NULL,
	[Name_Of_Category] [nvarchar](50) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID_Category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 5/9/2023 6:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Billing_Information] [nvarchar](50) NOT NULL,
	[CustomerID] [bigint] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Billing_Information] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 5/9/2023 6:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[ID_Discount] [bigint] NOT NULL,
	[Discount_Percent] [int] NULL,
 CONSTRAINT [PK_Discount] PRIMARY KEY CLUSTERED 
(
	[ID_Discount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InformationAccount]    Script Date: 5/9/2023 6:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InformationAccount](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [nvarchar](12) NULL,
	[Email] [nvarchar](50) NULL,
	[ID_Account] [bigint] NULL,
 CONSTRAINT [PK_InformationAccount] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Input_Book_Form]    Script Date: 5/9/2023 6:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Input_Book_Form](
	[Day_Input] [date] NOT NULL,
	[BookID] [bigint] NULL,
 CONSTRAINT [PK_Input_Book_Form] PRIMARY KEY CLUSTERED 
(
	[Day_Input] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 5/9/2023 6:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[id_order_detail] [bigint] IDENTITY(1,1) NOT NULL,
	[quantity] [int] NULL,
	[totalPrice] [bigint] NULL,
	[unitPrice] [bigint] NULL,
	[id_order] [bigint] NULL,
	[id_book] [bigint] NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[id_order_detail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 5/9/2023 6:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID_Order] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_Account] [bigint] NULL,
	[OrderDate] [date] NULL,
	[ShipDate] [date] NULL,
	[OrderStatus] [nvarchar](50) NULL,
	[ID_Cart] [bigint] NULL,
	[Notes] [nvarchar](max) NULL,
	[totalPrice] [bigint] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment_Method]    Script Date: 5/9/2023 6:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment_Method](
	[ID_Payment_Method] [bigint] NOT NULL,
	[Credit_Card] [nvarchar](50) NULL,
	[Banking_Mobile] [nvarchar](50) NULL,
 CONSTRAINT [PK_Payment_Method] PRIMARY KEY CLUSTERED 
(
	[ID_Payment_Method] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Picture]    Script Date: 5/9/2023 6:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Picture](
	[ID_Picture] [bigint] IDENTITY(1,1) NOT NULL,
	[Caption] [nvarchar](50) NULL,
	[Image_Path] [nvarchar](max) NULL,
	[ID_Book] [bigint] NULL,
 CONSTRAINT [PK_Picture] PRIMARY KEY CLUSTERED 
(
	[ID_Picture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Price]    Script Date: 5/9/2023 6:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Price](
	[ID_Price] [bigint] NOT NULL,
	[Price] [decimal](18, 0) NULL,
	[Discount_Percent] [bigint] NULL,
 CONSTRAINT [PK_Price] PRIMARY KEY CLUSTERED 
(
	[ID_Price] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 5/9/2023 6:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID_Role] [int] NOT NULL,
	[Role] [nvarchar](5) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID_Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topic]    Script Date: 5/9/2023 6:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topic](
	[Name_Of_Topic] [nvarchar](50) NOT NULL,
	[BookID] [bigint] NULL,
 CONSTRAINT [PK_Topic] PRIMARY KEY CLUSTERED 
(
	[Name_Of_Topic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Role]    Script Date: 5/9/2023 6:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Role](
	[ID_Account] [bigint] NOT NULL,
	[ID_Role] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([ID_Account], [Name], [Age], [Sex], [Year_Of_Birth], [Username], [Password], [ID_Info]) VALUES (1, N'Phan Hữu Kiệt', 22, N'Nam', 2001, N'kiet123', N'$2a$05$jP/121ArMAPELVlrkLFeuuDnOH0WDzHJLAQ3.5O6IuC4e.FxKc0PG', 1)
INSERT [dbo].[Account] ([ID_Account], [Name], [Age], [Sex], [Year_Of_Birth], [Username], [Password], [ID_Info]) VALUES (2, N'Hồ Quang Đăng', 22, N'Nam', 2001, N'dang123', N'$2a$12$XcAnpPxmTVSIwI3wGaX/muPuiaRJvNLqktbzRhPSV8p23x7H93cvG
', 5)
INSERT [dbo].[Account] ([ID_Account], [Name], [Age], [Sex], [Year_Of_Birth], [Username], [Password], [ID_Info]) VALUES (3, N'Dương Hoàng Kha', 22, N'Nam', 2001, N'kha123', N'$2a$05$b5SDekC76jvDJBfMznIFg.je0COPjgwo3y7TT9o7tx3TUzl0XjA2y', 7)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
INSERT [dbo].[Admin] ([Admin_Information], [AdminID]) VALUES (N'Nhà sáng lập 1', 1)
INSERT [dbo].[Admin] ([Admin_Information], [AdminID]) VALUES (N'Nhà sáng lập 2', 2)
INSERT [dbo].[Admin] ([Admin_Information], [AdminID]) VALUES (N'Nhà sáng lập 3', 3)
GO
INSERT [dbo].[Author] ([ID_Author], [Name_Of_Author], [Address_Of_Author]) VALUES (100, N'Tiến sĩ Nguyễn Văn Sinh, Tiến sĩ Trần Mạnh Hà, Thạc sĩ Huỳnh Khả Tú', N'NXB Xây Dựng')
INSERT [dbo].[Author] ([ID_Author], [Name_Of_Author], [Address_Of_Author]) VALUES (101, N'Yakov Fain', N'America')
INSERT [dbo].[Author] ([ID_Author], [Name_Of_Author], [Address_Of_Author]) VALUES (102, N'Jeff Friesen', N'America')
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

SET IDENTITY_INSERT [dbo].[Book] OFF
GO
SET IDENTITY_INSERT [dbo].[Book_Detail] ON 

INSERT [dbo].[Book_Detail] ([ID_Detail], [ID_Book], [Publishing_House], [Size], [Pages], [Book_Cover], [Publishing_Year]) VALUES (400, 800, N'NXB Xây Dựng                                                                                                                                                                                            ', N'24x17cm                                                                                             ', 126, N'Bìa mềm                                                                                             ', 2016)
INSERT [dbo].[Book_Detail] ([ID_Detail], [ID_Book], [Publishing_House], [Size], [Pages], [Book_Cover], [Publishing_Year]) VALUES (401, 801, N'John Wiley & Sons Inc                                                                                                                                                                                   ', N'3x23x18cm                                                                                           ', 624, N'Bìa mềm                                                                                             ', 2015)
INSERT [dbo].[Book_Detail] ([ID_Detail], [ID_Book], [Publishing_House], [Size], [Pages], [Book_Cover], [Publishing_Year]) VALUES (402, 802, N'aPress                                                                                                                                                                                                  ', N'1x23x15cm                                                                                           ', 200, N'Bìa mềm                                                                                             ', 2016)
SET IDENTITY_INSERT [dbo].[Book_Detail] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([id], [ID_Account], [totalPrices], [totalItems]) VALUES (18, 2, 272000, 4)
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[CartItem] ON 

INSERT [dbo].[CartItem] ([ID], [ID_Book], [Quantity], [id_Cart], [totalPrice]) VALUES (78, 800, 4, 18, 272000)
SET IDENTITY_INSERT [dbo].[CartItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID_Category], [Name_Of_Category]) VALUES (301, N'Công Nghệ')
INSERT [dbo].[Category] ([ID_Category], [Name_Of_Category]) VALUES (302, N'Kinh Tế')
INSERT [dbo].[Category] ([ID_Category], [Name_Of_Category]) VALUES (303, N'Nuôi Dạy Con')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[Customer] ([Billing_Information], [CustomerID]) VALUES (N'Khách hàng thân thiết 1', 5)
INSERT [dbo].[Customer] ([Billing_Information], [CustomerID]) VALUES (N'Khách hàng thân thiết 2', 6)
INSERT [dbo].[Customer] ([Billing_Information], [CustomerID]) VALUES (N'Khách hàng thân thiết 3', 7)
GO
SET IDENTITY_INSERT [dbo].[InformationAccount] ON 

INSERT [dbo].[InformationAccount] ([ID], [Address], [Phone], [Email], [ID_Account]) VALUES (1, N'13 Đường 3/2, Xuân Khánh, Ninh Kiều, Cần Thơ', N'0123456789', N'kiet123@gmail.com', 1)
INSERT [dbo].[InformationAccount] ([ID], [Address], [Phone], [Email], [ID_Account]) VALUES (5, N'13 Đường 3/2, Xuân Khánh, Ninh Kiều, Cần Thơ', N'0123456489', N'dang123@gmail.com', 2)
INSERT [dbo].[InformationAccount] ([ID], [Address], [Phone], [Email], [ID_Account]) VALUES (7, N'13 Đường 3/2, Xuân Khánh, Ninh Kiều, Cần Thơ', N'0987654123', N'kha123@gmail.com', 3)
SET IDENTITY_INSERT [dbo].[InformationAccount] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([id_order_detail], [quantity], [totalPrice], [unitPrice], [id_order], [id_book]) VALUES (11, 2, 0, 35000, 3, 808)
INSERT [dbo].[OrderDetail] ([id_order_detail], [quantity], [totalPrice], [unitPrice], [id_order], [id_book]) VALUES (12, 1, 0, 68000, 4, 800)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([ID_Order], [ID_Account], [OrderDate], [ShipDate], [OrderStatus], [ID_Cart], [Notes], [totalPrice]) VALUES (3, 2, CAST(N'2023-04-30' AS Date), CAST(N'2023-04-30' AS Date), N'Pending', NULL, NULL, 70000)
INSERT [dbo].[Orders] ([ID_Order], [ID_Account], [OrderDate], [ShipDate], [OrderStatus], [ID_Cart], [Notes], [totalPrice]) VALUES (4, 2, CAST(N'2023-04-30' AS Date), CAST(N'2023-04-30' AS Date), N'Pending', NULL, NULL, 68000)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
INSERT [dbo].[Payment_Method] ([ID_Payment_Method], [Credit_Card], [Banking_Mobile]) VALUES (300, N'090909', N'808080')
INSERT [dbo].[Payment_Method] ([ID_Payment_Method], [Credit_Card], [Banking_Mobile]) VALUES (301, N'07070707', N'06060606')
INSERT [dbo].[Payment_Method] ([ID_Payment_Method], [Credit_Card], [Banking_Mobile]) VALUES (302, N'050505', N'040404')
GO
SET IDENTITY_INSERT [dbo].[Picture] ON 

INSERT [dbo].[Picture] ([ID_Picture], [Caption], [Image_Path], [ID_Book]) VALUES (901, N'Hình Công Nghệ', N'/SingleProduct/CongNghe/CongNgheThongTin/Bia1.jpg', 800)
INSERT [dbo].[Picture] ([ID_Picture], [Caption], [Image_Path], [ID_Book]) VALUES (902, N'Hình Java Programming', N'\SingleProduct\CongNghe\JavaProgramming24HourTrainer\Bia1.jpg', 801)
INSERT [dbo].[Picture] ([ID_Picture], [Caption], [Image_Path], [ID_Book]) VALUES (903, N'Hình Java Threads And Concurrency Utilities', N'/SingleProduct/CongNghe/JavaThreadsandtheConcurrencyUtilities2015/Bia1.jpg', 802)
SET IDENTITY_INSERT [dbo].[Picture] OFF
GO
INSERT [dbo].[Price] ([ID_Price], [Price], [Discount_Percent]) VALUES (200, CAST(68000 AS Decimal(18, 0)), NULL)
INSERT [dbo].[Price] ([ID_Price], [Price], [Discount_Percent]) VALUES (201, CAST(875000 AS Decimal(18, 0)), NULL)
INSERT [dbo].[Price] ([ID_Price], [Price], [Discount_Percent]) VALUES (202, CAST(250000 AS Decimal(18, 0)), NULL)
GO
INSERT [dbo].[Role] ([ID_Role], [Role]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([ID_Role], [Role]) VALUES (2, N'User')
GO
INSERT [dbo].[Topic] ([Name_Of_Topic], [BookID]) VALUES (N'Công nghệ', 800)
INSERT [dbo].[Topic] ([Name_Of_Topic], [BookID]) VALUES (N'Kinh Tế', 801)
INSERT [dbo].[Topic] ([Name_Of_Topic], [BookID]) VALUES (N'Nuôi Dạy Con', 802)
GO
INSERT [dbo].[User_Role] ([ID_Account], [ID_Role]) VALUES (1, 1)
INSERT [dbo].[User_Role] ([ID_Account], [ID_Role]) VALUES (2, 2)
INSERT [dbo].[User_Role] ([ID_Account], [ID_Role]) VALUES (3, 2)
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [FK_Admin_Account] FOREIGN KEY([AdminID])
REFERENCES [dbo].[Account] ([ID_Account])
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FK_Admin_Account]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Author] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Author] ([ID_Author])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Author]
GO
ALTER TABLE [dbo].[Book_Detail]  WITH CHECK ADD  CONSTRAINT [FK_Book_Detail_Book] FOREIGN KEY([ID_Book])
REFERENCES [dbo].[Book] ([ID_Book])
GO
ALTER TABLE [dbo].[Book_Detail] CHECK CONSTRAINT [FK_Book_Detail_Book]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Account] FOREIGN KEY([ID_Account])
REFERENCES [dbo].[Account] ([ID_Account])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Account]
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD  CONSTRAINT [FK_CartItem_Book] FOREIGN KEY([ID_Book])
REFERENCES [dbo].[Book] ([ID_Book])
GO
ALTER TABLE [dbo].[CartItem] CHECK CONSTRAINT [FK_CartItem_Book]
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD  CONSTRAINT [FK_CartItem_Cart] FOREIGN KEY([id_Cart])
REFERENCES [dbo].[Cart] ([id])
GO
ALTER TABLE [dbo].[CartItem] CHECK CONSTRAINT [FK_CartItem_Cart]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Account] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Account] ([ID_Account])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Account]
GO
ALTER TABLE [dbo].[InformationAccount]  WITH CHECK ADD  CONSTRAINT [FK_InformationAccount_Account] FOREIGN KEY([ID_Account])
REFERENCES [dbo].[Account] ([ID_Account])
GO
ALTER TABLE [dbo].[InformationAccount] CHECK CONSTRAINT [FK_InformationAccount_Account]
GO
ALTER TABLE [dbo].[Input_Book_Form]  WITH CHECK ADD  CONSTRAINT [FK_Input_Book_Form_Book] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([ID_Book])
GO
ALTER TABLE [dbo].[Input_Book_Form] CHECK CONSTRAINT [FK_Input_Book_Form_Book]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Book] FOREIGN KEY([id_book])
REFERENCES [dbo].[Book] ([ID_Book])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Book]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Orders] FOREIGN KEY([id_order])
REFERENCES [dbo].[Orders] ([ID_Order])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_Account] FOREIGN KEY([ID_Account])
REFERENCES [dbo].[Account] ([ID_Account])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_Account]
GO
ALTER TABLE [dbo].[Price]  WITH CHECK ADD  CONSTRAINT [FK_Price_Discount] FOREIGN KEY([Discount_Percent])
REFERENCES [dbo].[Discount] ([ID_Discount])
GO
ALTER TABLE [dbo].[Price] CHECK CONSTRAINT [FK_Price_Discount]
GO
ALTER TABLE [dbo].[Topic]  WITH CHECK ADD  CONSTRAINT [FK_Topic_Book] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([ID_Book])
GO
ALTER TABLE [dbo].[Topic] CHECK CONSTRAINT [FK_Topic_Book]
GO
ALTER TABLE [dbo].[User_Role]  WITH CHECK ADD  CONSTRAINT [FK8txmath0bfy5apheim9qf06d] FOREIGN KEY([ID_Account])
REFERENCES [dbo].[Account] ([ID_Account])
GO
ALTER TABLE [dbo].[User_Role] CHECK CONSTRAINT [FK8txmath0bfy5apheim9qf06d]
GO
ALTER TABLE [dbo].[User_Role]  WITH CHECK ADD  CONSTRAINT [FKn9k177hehpjdwttubillqfvdn] FOREIGN KEY([ID_Role])
REFERENCES [dbo].[Role] ([ID_Role])
GO
ALTER TABLE [dbo].[User_Role] CHECK CONSTRAINT [FKn9k177hehpjdwttubillqfvdn]
GO
USE [master]
GO
